cache:
    untracked: true
    key: ${CI_COMMIT_SHA}
    paths:
        - node_modules/
        - dist/

stages:
    - test
    - deploy


testing:
    stage: test
    image: trion/ng-cli-karma
    allow_failure: false
    environment:
        name: Frontend
    before_script:
        - npm install @angular/cli
        - npm install
    script:
        - ng test --watch=false --code-coverage
    coverage: '/Lines\W +: \d+\% \( \d+\/\d+ \).*/'
    artifacts:
        paths:
            - coverage/
    only:
        - merge_requests
        - master
        - develop
        - staging
#        - feature/CI-CD

deploy_staging:
    stage: deploy
    image: kroniak/ssh-client
    allow_failure: false
    environment:
        name: Frontend
    before_script:
        - eval $(ssh-agent -s)
        - ssh-add <(echo "$SSH_PUBLIC_KEY")
    script:
        - ssh www-data@eslistavenga.nl "cd /data/httpd/eslistavenga/pre-prod.eslistavenga.nl/ && echo 'aaaa' > waaaa.html && exit"
    only:
        - staging
        - feature/CI-CD

