cache:
    untracked: true
    key: ${CI_COMMIT_REF_SLUG}
    paths:
        - node_modules/

stages:
    - build
    - test
    - deploy

building:
    stage: build
    allow_failure: false
    environment:
        name: frontend
    image: trion/ng-cli-karma
    script:
        - npm install @angular/cli
        - npm install
        - ng build --prod
    only:
        - merge_requests
        - master
        - develop
        - staging
        - feature/CI-CD

testing:
    stage: test
    allow_failure: false
    environment:
        name: frontend
    script:
        - ng test --watch=false --code-coverage --browsers ChromeHeadless
    coverage: '/Lines\W +: \d+\% \( \d+\/\d+ \).*/'
    artifacts:
        paths:
            - coverage/
    only:
        - merge_requests
        - master
        - develop
        - staging
        - feature/CI-CD

deploy_staging:
    stage: deploy
    environment:
        name: frontend
    script:
        - cd /data/httpd/eslistavenga/pre-prod.eslistavenga.nl/
        - touch waaaaaa.html
    only:
        - staging

