cache:
    untracked: true
    key: ${CI_COMMIT_SHA}
    paths:
        - node_modules/
        - dist/

stages:
    - build
    - setup
    - test
    - deploy

building:
    stage: build
    allow_failure: false
    environment:
        name: frontend
    artifacts:
        paths:
            - node_modules/
            - dist/
    script:
        - echo "Build completed" #idk man it needs a script entry
    image: trion/ng-cli-karma
    only:
        - merge_requests
        - master
        - develop
        - staging
        - feature/CI-CD

setting_up:
    stage: setup
    allow_failure: false
    environment:
        name: frontend
    artifacts:
        paths:
            - node_modules/
            - dist/
    script:
        - ng build --prod
    only:
        - merge_requests
        - master
        - develop
        - staging
        - feature/CI-CD

testing:
    stage: test
    allow_failure: false
    environment:
        name: frontend
    script:
        - ng test --watch=false --code-coverage --browsers ChromeHeadless
    coverage: '/Lines\W +: \d+\% \( \d+\/\d+ \).*/'
    artifacts:
        paths:
            - node_modules/
            - dist/
            - coverage/
    only:
        - merge_requests
        - master
        - develop
        - staging
        - feature/CI-CD

deploy_staging:
    stage: deploy
    environment:
        name: frontend
    script:
        - cd /data/httpd/eslistavenga/pre-prod.eslistavenga.nl/
        - touch waaaaaa.html
    only:
        - staging

