cache:
    untracked: true
    key: ${CI_COMMIT_SHA}
    paths:
        - node_modules/
        - dist/

stages:
    - test
    - deploy

before_script:
    - npm install @angular/cli
    - npm install

testing:
    stage: test
    image: trion/ng-cli-karma
    allow_failure: false
    environment:
        name: Frontend
    script:
        - ng test --watch=false --code-coverage
    coverage: '/Lines\W +: \d+\% \( \d+\/\d+ \).*/'
    artifacts:
        paths:
            - coverage/
    only:
        - merge_requests
        - master
        - develop
        - staging
        - feature/CI-CD

deploy_staging:
    stage: deploy
    environment:
        name: frontend
    script:
        - cd /data/httpd/eslistavenga/pre-prod.eslistavenga.nl/
        - touch waaaaaa.html
    only:
        - staging
        - feature/CI-CD

