cache:
    paths:
        - node_modules/

before_script:
    - npm install @angular/cli
    - npm install

testing:
    stage: test
    image: trion/ng-cli-karma
    allow_failure: false
    environment: test
    script:
        - ng test --watch=false --code-coverage
    coverage: '/Lines \W+: (\d+\.\d+)%.*/'
    artifacts:
        paths:
            - coverage/
    only:
        - merge_requests
        - master
        - develop
        - staging

